.nav-logo{
    font-size: 1.1em !important;
}
.menu-items a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.8em;
    margin:10px;
    padding: 2px;

}
.menu-items a:hover{
    color: rgb(221, 223, 224);
}